/** font-family: 'Roboto Slab', serif;
font-family: 'Rubik', sans-serif; **/


.hed{
	background-color: #e8f4ff;
	padding-bottom: 1%;
}

h1, .bio {
	text-align: center;
	font-family: 'Rubik', sans-serif;
	color:#2e3a52
}



h1 {
    font-size: 5.5em;
	font-weight:600;
}

.bio {
	font-size: 2em;
}


.story {
	padding-top: 1%;
	font-size: 20px;
	font-family: 'Merriweather', serif;
}


a {
	text-decoration-color: #2e3a52;
	color: black;
}

mark{
    background-color: #bfdff5;
}

@media screen and (max-width: 576px) {
  h1 {
    font-size: 50px;
  }
.bio{
font-size: 20px;
}
.story{
	padding: 3% 3% 3% 3%;
	font-size: 16px;
}
}