/*
font-family: 'Merriweather', serif;
font-family: 'Roboto', sans-serif;
*/

body{
        font-family: 'Roboto', sans-serif;
        font-size:15px;
        color:#2c5891
}

h1{
        font-family: 'Merriweather', serif;
        font-size:40px;
        color:#1D3461
    }

h2{
        font-size:25px;
}