/*
font-family: 'Merriweather', serif;
font-family: 'Roboto', sans-serif;
*/

body{
        font-family: 'Roboto', sans-serif;
        font-size:15px;
        color:#06BCC1
}

h1{
        font-family: 'Merriweather', serif;
        font-size:25px;
        color:#12263a
    }