/*
font-family: 'Lora', serif;
font-family: 'Open Sans', sans-serif;
*/

body{
        font-family: 'Open Sans', sans-serif;
        font-size:24px;
        color:#ae2f36;
        background-color:#f7e7e5;
}

header{
        margin-top:50px;
}

h1{
        font-family: 'Lora', serif;
        font-size:2.75em;
        font-weight:700;
        color:#ae2f36;
    }

.nav a{font-family: 'Lora', serif;
        font-size:1em;
        font-weight:400;
        text-transform: uppercase;
        padding-right:10px;
        text-decoration: none;
        color:#b8625e;
        text-align: center;
      
}

.storylinks a{
        text-decoration: none;
        color:black;
}

.storylinks a:hover{
        color:red;
}

.imgmain{
        margin-bottom:15px;
}

h2{
        font-family: 'Lora', serif;
        font-size:1.5em;
        font-weight:400;
        text-transform: uppercase;
        text-align: center;
}

@media(max-width:450px){
        html{
                margin:30px;
        }
        header{
                        margin-top:0;
        }
}
